$def with (content)
<!DOCTYPE HTML>
<html>
  <head>
    <title>$content.title</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8"/>
      <script type="text/javascript" src="/static/js/raphael-min.js"></script>
      <script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
      <script type="text/javascript" src="/static/js/popup.js"></script>
      <script type="text/javascript" src="/static/js/analytics.js"></script>
  </head>
  <body>
    $:content
  </body>
</html>